.player-box {
    display: flex;
    align-items: center;
    min-width: 9rem;
    text-transform: uppercase;
    background-color: hsl( var(--clr-white) );
    border: 3px solid hsl( var(--clr-black) );
    box-shadow: 0px 10px 0px hsl( var(--clr-black) );
    border-radius: 1.25rem;
    align-items: center;
}
.counter-box-one,
.counter-box-two {
    flex-direction: column;
    width: max-content;
    position: relative;
    padding: 3rem 2rem 1rem 2rem;
    .player-box--content{
        text-align: center;
    }
    img {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
    }
}