.dashboard > .discs > .disc:hover{
    cursor: pointer;
}

.dashboard *:hover {
    cursor: pointer;
}

.dashboard .board-black {
    z-index: 10;
    position: relative;
}

.dashboard .board-white {
    z-index: 30;
    position: absolute;
}

.dashboard .board-large {
    display: block;
    min-width: 632px;
}

.dashboard .board-small {
     display: none;
     min-width: 335px;
}

.cursor {
    display: grid;
    grid-template-columns: repeat(7, 88px);
    grid-template-rows:  88px;
    position: absolute;
    top: -4.2rem;
    background-repeat: no-repeat;
    justify-items: stretch;
}

.cursor * {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2rem;
    visibility: hidden;
    z-index: 80;
}

.discs {
    display: grid;
    gap: 0rem;
    margin: 0.5rem 0 0 0.5rem;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(7, 88px);
    grid-template-rows: repeat(6, 88px);
    position: absolute;
    button {
        background-color: transparent;
        border-radius: 50%;
        width: 80%;
        height: 80%;
        background-size: cover;
        background-repeat: no-repeat;
         span {
            position: absolute;
            visibility: hidden;
            width: 50%;
            height: 50%;
            border-radius: 50%;
            border: 6px solid hsl( var(--clr-white) );
            transform: translate(50%, -50%);
            left: 0;
            bottom: 0;
            z-index: 100;
        }
    }
}

@keyframes drop {
    70%{transform :translateY(10%)}
    100%{transform :translateY(0%)}
}