.home {
    display: grid;
    position: absolute;
    align-content: center;
    justify-content: center;
    z-index: 100;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    background-color: hsl( var(--clr-blue-dark) );
}
.logo img {
    padding: 1rem 0;
}
.home-container {
    display: grid;
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
    padding: 3rem;
    border-radius: 2.5rem;
    background-color: hsl( var(--clr-blue-light) );
    border: 3px solid hsl( var(--clr-black) );
}

.rules-container {
    flex-direction: column;
    width: 30rem;
    gap:2rem;
    padding: 2rem;
    position: relative;
    background-color: hsl( var(--clr-white) );
}

.rules-container  h3 {
    color: hsl( var(--clr-blue-light) );
}
.rules-container  p {
    padding: 0.4rem 0;
    text-transform: none;
}

.rules-container img {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}
.rules-container span {
    font-weight: 700;
    margin-right: 1em;
    padding: 0.4rem 0;
}
li {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}