*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

p {
    font-weight: 500;
}

h1 {
    font-size: 3.5rem;
    line-height: 4.4375rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.9375rem ;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.625rem;
}

h4,
p {
    font-size: 1rem;
    line-height:1.3125rem;
}

body {
    font-family: var(--ff);
    font-size: var(--fs-300);
    color: hsl(var(--clr-black));
    background-color: hsl( var(--clr-accent-light) );
    line-height: 1.3125rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x:hidden;
}

img,
picture {
    max-width: 100%;
    display: block-inline;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }