:root {
    --clr-white: 0 0% 100%;
    --clr-dark: 0 0% 0%;
    --clr-accent-dark: 257 67% 51%;
    --clr-accent-light: 257 100% 64%;

    --clr-red: 347 97% 70%;
    --clr-yellow: 41 100% 70%;
    
    --ff: 'Space Grotesk', sans-serif;

    --fs-600: 3.5rem; /*56 px*/
    --fs-500: 1.5rem; /*24 px*/
    --fs-400: 1.25rem;/*20 px*/
    --fs-300: 1rem; /*16 px*/
}